<div class="container">
    <div class="weather-card mx-auto">
        <h3 class="mb-4">🌤️ Clima en tu Ciudad</h3>

        <!-- Búsqueda de Ciudad -->
        <div class="input-group mb-3">
            <input type="text" [(ngModel)]="ciudad" class="form-control" placeholder="Ingrese una ciudad">
            <button class="btn btn-primary" (click)="consultarClima()">Buscar</button>
        </div>

        <!-- Información del Clima -->
        <div *ngIf="clima">
            <!-- <img [src]="'https://openweathermap.org/img/wn/' + clima.weather[0].icon + '@2x.png'" class="weather-icon" alt="Icono clima"> -->
            <h2>{{ clima.name }}</h2>
            <p class="temp">{{ clima.temp }}°C</p>
            <p class="info">{{ clima.description }}</p>
            <p class="info"><strong>Humedad:</strong> {{ clima.humidity }}%</p>
            <p class="info"><strong>Viento:</strong> {{ clima.windSpeed }} km/h</p>
        </div>
    </div>

    <!-- Botón para ver el pronóstico completo, solo aparece si se ha realizado la búsqueda -->
    <div *ngIf="isSearched">
        <button class="btn btn-secondary mt-3" (click)="verPronosticoCompleto()">Pronóstico completo</button>
    </div>

    <!-- Mostrar error si no se pudo obtener el clima -->
    <div *ngIf="error" class="error-message">
        <p>{{ error }}</p>
    </div>
</div>
